[submodule "nodejs-sandbox"]
	path = nodejs-sandbox
	url = git@github.com:quentinpigne/nodejs-sandbox.git
[submodule "reactjs-sandbox"]
	path = reactjs-sandbox
	url = git@github.com:quentinpigne/reactjs-sandbox.git
[submodule "spring-gateway-sandbox"]
	path = spring-gateway-sandbox
	url = git@github.com:quentinpigne/spring-gateway-sandbox.git
[submodule "spring-sandbox-java"]
	path = spring-sandbox-java
  url = git@github.com:quentinpigne/spring-sandbox-java.git
[submodule "spring-sandbox-kotlin"]
	path = spring-sandbox-kotlin
  url = git@github.com:quentinpigne/spring-sandbox-kotlin.git
[submodule "webpack-sandbox"]
	path = webpack-sandbox
	url = git@github.com:quentinpigne/webpack-sandbox.git
